@import "../../styles/variable.scss";

.scrollink {
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover {
    font-weight: bold;
  }
}
